<div class="taskbar">
    <div class="start-container">
        <button class="start-button" (click)="toggleStartMenu()">
            Start
        </button>
    </div>

    <div class="start-menu-container" [class.start-menu-open]="isStartMenuOpen">
        <div class="start-menu">
            <div class="start-menu-profile-text-container">
                <span class="profile-gradient-text">Portfolio OS</span>
            </div>
            <div class="start-menu-items-container">
                <div class="start-menu-item">Start menu item 1</div>
                <div class="start-menu-item">Start menu item 2</div>
                <div class="start-menu-item">Start menu item 3</div>
                <div class="start-menu-item">Start menu item 4</div>
            </div>
        </div>
    </div>
</div>
